body{
    box-sizing: border-box;
    background-color: whitesmoke;
    margin: 20px auto;
    width: 50%;
}

h1{
    font-size: 5rem;
    text-align: center;
}

h3, p{
    text-align: justify;
}

img{
    max-width: 600px;
    max-height: 400px;
    display: block;
    margin: 10px auto;
}