*{
    box-sizing: border-box;
    background-color: whitesmoke;
}

h1{
    font-size: 5rem;
}

.one{
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
}

.two{
    width: 50vw;
    position: absolute;   
    top: 0;
    right: 0;
    padding: 0.5rem;
}

img{
    max-width: 600px;
    max-height: 400px;
}