*{
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
    background-color:whitesmoke
}


.main_menu{
    font-size: 1.5rem;
    margin: auto;
    width: 50%;
    padding: 0;
    
}

.main_menu>h1{
    font-size: 8rem;
}


a{
    display: block;
}