*{
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.background>img{
    height: 100%;
    position:absolute;
    z-index: -1;
}

.main_menu{
    position: absolute;
    top: 25vh;
    left: 40vw;
}

.main_menu>h1{
    font-size: 8rem;
    color: dimgrey;
}

li{
    font-size: 3rem;
    display: block;
    padding: 1rem;
}

a{
    color: darkgray;
    text-decoration: none;
}

a:hover{
    background-color: lavenderblush;
}